* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* ::-moz-selection {
  color: black;
  background-color: rgb(7, 130, 0);
}
* ::selection {
  color: black;
  background-color: rgb(7, 130, 0);
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../IMG/SEGUNDO\ CONTAINER.jpg);
  background-position: center;
  overflow-x: hidden;
}

header {
  background-color: indigo;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
header #itens {
  position: fixed;
  display: none;
  top: 100px;
  right: 10px;
  background-color: black;
}
header #itens ul {
  width: 400px;
  padding: 0.5rem;
}
header #itens ul li {
  padding: 2rem;
  list-style: none;
  border: 2px solid white;
  margin: 0.5rem;
}
header #itens ul li a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", "Poppins", "Oswald", Verdana, Tahoma;
}
header .menu a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", "Poppins", "Oswald", Verdana, Tahoma;
  margin: 0 2rem 0 2rem;
}
header img {
  width: 450px;
}
header .menu-bg {
  display: none;
}
header .menu-bg img {
  width: 50px;
  filter: invert(1);
}

.teste {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../IMG/SEGUNDO\ CONTAINER.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.teste #text {
  color: white;
  font-family: "Montserrat", "Poppins", "Oswald", Verdana, Tahoma;
}
.teste #text h1 {
  margin-bottom: 1rem;
}
.teste #text p {
  font-weight: bold;
  font-size: 17px;
  line-height: 35px;
}
.teste img {
  transition: 0.2s;
  filter: drop-shadow(1px 1px 10px black);
}
.teste img:hover {
  transform: scale(1.05);
  filter: drop-shadow(1px 5px 15px black);
}

.container {
  display: none;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../IMG/SEGUNDO\ CONTAINER.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.container #texto {
  color: white;
  font-family: "Montserrat", "Poppins", "Oswald", Verdana, Tahoma;
  margin: auto;
  text-align: center;
  line-height: 47px;
}
.container #texto h1 {
  padding: 1.5rem;
  font-weight: bold;
}
.container #seta {
  margin: auto;
  text-align: center;
}

.container-2 {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../IMG/TERCEIRO\ CONTAINER.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.container-2 #oque {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: "Montserrat", "Poppins", "Oswald", Verdana, Tahoma;
  padding: 1.5rem;
}
.container-2 #oque #bar {
  background-color: rgb(130, 0, 111);
  height: 5px;
  width: 255px;
  margin: 0.5rem;
}
.container-2 #oque h3 {
  line-height: 27px;
}
.container-2 #dois {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-family: "Montserrat", "Poppins", "Oswald", Verdana, Tahoma;
  text-align: center;
  padding-top: 1.5rem;
}
.container-2 #dois #bar2 {
  height: 5px;
  width: 195px;
  margin: auto;
  background-color: rgb(130, 0, 115);
}
.container-2 #dois #bar3 {
  height: 5px;
  width: 195px;
  margin: auto;
  background-color: rgb(130, 0, 115);
}
.container-2 #dois #seguro {
  max-width: 450px;
}

.container-3 {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../IMG/TERCEIRO\ CONTAINER.jpg);
}
.container-3 #text {
  text-align: center;
  color: white;
  font-family: "Montserrat", "Poppins", "Oswald", Verdana, Tahoma;
  padding-top: 1rem;
}
.container-3 #cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.container-3 #cards #card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}
.container-3 #cards #card img {
  width: 300px;
  border-radius: 55px 55px 0px 0px;
}
.container-3 #cards #card #link {
  background-color: green;
  padding: 0.5rem;
  width: 299.5px;
  text-align: center;
}
.container-3 #cards #card a {
  text-decoration: none;
  color: white;
  margin: 2rem;
  font-family: "Montserrat", "Poppins", "Oswald", Verdana, Tahoma;
  font-weight: bold;
  font-size: 35px;
}
.container-3 #aviso {
  text-align: center;
  font-family: "Montserrat", "Poppins", "Oswald", Verdana, Tahoma;
  color: rgb(95, 95, 95);
  font-size: 10px;
}

.container-4 {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../IMG/TERCEIRO\ CONTAINER.jpg);
}
.container-4 h1 {
  text-align: center;
  color: white;
  font-family: "Montserrat", "Poppins", "Oswald", Verdana, Tahoma;
  font-weight: bolder;
  padding: 1.5rem;
}
.container-4 #cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.container-4 #cards #card {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.4s;
  transform: scale(1);
}
.container-4 #cards #card:hover {
  transform: scale(1.05);
}
.container-4 #cards #card img {
  border-radius: 55px 55px 0px 0px;
}
.container-4 #cards #card a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", "Poppins", "Oswald", Verdana, Tahoma;
  background-color: green;
  width: 355.5px;
  text-align: center;
  padding: 0.5rem;
  font-weight: bolder;
  margin-top: 1.5rem;
  font-size: 25px;
}
.container-4 #aviso {
  color: white;
  font-family: "Montserrat", "Poppins", "Oswald", Verdana, Tahoma;
  text-align: center;
  padding-top: 2rem;
  opacity: 0.5;
}

.container-5 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../IMG/TERCEIRO\ CONTAINER.jpg);
  height: 100vh;
  width: 100%;
}
.container-5 #infos {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Montserrat", "Poppins", "Oswald", Verdana, Tahoma;
  padding-top: 1.5rem;
}
.container-5 #infos h1 {
  border-bottom: 3.5px solid rgb(245, 0, 209);
  padding: 5px;
}
.container-5 #text {
  text-align: center;
  color: white;
  font-family: "Montserrat", "Poppins", "Oswald", Verdana, Tahoma;
  font-weight: bolder;
  font-size: 15.5px;
  line-height: 20px;
  width: 100%;
  padding: 2rem;
}
.container-5 .pay {
  text-align: center;
  color: white;
  font-family: "Montserrat", "Poppins", "Oswald", Verdana, Tahoma;
}
.container-5 .pay #pagamentos {
  padding-top: 1.5rem;
}
.container-5 .pay #pagamentos h1 {
  border-bottom: 2.5px solid indigo;
  width: 400px;
  margin: auto;
}
.container-5 .pay #pagamentos #imgs {
  padding-top: 4.5rem;
  padding-bottom: 5.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.container-5 .pay #pagamentos #imgs img {
  transition: 0.5s;
}
.container-5 .pay #pagamentos #imgs img:hover {
  transform: scale(1.05);
}
.container-5 #seta {
  color: white;
  font-family: "Montserrat", "Poppins", "Oswald", Verdana, Tahoma;
  font-weight: bolder;
  text-align: center;
  padding-top: 1rem;
}

.container-6 {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../IMG/TERCEIRO\ CONTAINER.jpg);
  text-align: center;
}
.container-6 h2 {
  text-align: center;
  color: white;
  padding-top: 1rem;
  font-size: 15px;
  font-family: "Montserrat", "Poppins", "Oswald", Verdana, Tahoma;
  line-height: 35px;
  font-weight: bolder;
}
.container-6 h2 span {
  background-color: green;
  border-radius: 55px;
  padding: 5px;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
.container-6 .slider {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../IMG/TERCEIRO\ CONTAINER.jpg);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0);
  height: 455px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 1000px;
  padding-top: 1.5rem;
}
.container-6 .slider::before, .container-6 .slider::after {
  background: linear-gradient(to right, hsla(0, 1%, 17%, 0) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.container-6 .slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.container-6 .slider::before {
  left: 0;
  top: 0;
}
.container-6 .slider .slide-track {
  animation: scroll 200s linear infinite;
  display: flex;
  width: 3500px;
}
.container-6 .slider .slide {
  height: 100px;
  width: 250px;
}
.container-6 #text {
  color: white;
  text-align: center;
  font-family: "Montserrat", "Poppins", "Oswald", Verdana, Tahoma;
  padding-top: 0.5rem;
  font-weight: bolder;
}

.container-7 {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../IMG/TERCEIRO\ CONTAINER.jpg);
  margin: auto;
}
.container-7 h3 {
  padding-top: 1.5rem;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  font-family: "Montserrat", "Poppins", "Oswald", Verdana, Tahoma;
  color: white;
}
.container-7 h3 span {
  background-color: green;
  border-radius: 55px;
  padding: 5px;
}
.container-7 #cards {
  margin: auto;
  text-align: center;
}
.container-7 #cards img {
  filter: drop-shadow(0.5px 15px 15px rgba(0, 0, 0, 0.616));
  transition: 0.5s;
}
.container-7 #cards img:hover {
  transform: scale(1.02);
}
.container-7 #link {
  margin: auto;
  text-align: center;
  color: white;
  font-family: "Montserrat", "Poppins", "Oswald", Verdana, Tahoma;
  transition: 0.5s;
  padding-top: 1.5rem;
  width: 900px;
}
.container-7 #link a {
  color: white;
  background-color: green;
  padding: 1rem;
  margin: 1.5rem;
  text-decoration: none;
}

.container-8 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../IMG/TERCEIRO\ CONTAINER.jpg);
  color: white;
  height: 100vh;
}
.container-8 #faq {
  display: grid;
  place-items: center;
  padding-top: 3.5rem;
}
.container-8 details {
  border: 5px solid #ffffff;
  border-radius: 15px;
  max-width: 1000px;
  text-align: center;
  margin: 0.8rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(186, 0, 202);
  padding: 0.5em 0.5em 0;
  font-family: "Montserrat", "Poppins", "Oswald", Verdana, Tahoma;
}
.container-8 summary {
  font-weight: bold;
  font-family: "Montserrat", "Poppins", "Oswald", Verdana, Tahoma;
  font-size: 22px;
  width: 1000px;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}
.container-8 details[open] {
  padding: 0.5em;
}
.container-8 details[open] summary {
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 0.5em;
}

#disqus_thread {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 900px;
  margin: auto;
  padding: 1rem 0 1rem 0;
}
#disqus_thread .post-content .post-message p {
  color: white;
}
#disqus_thread .embed-refresh-v2 .comment__header .author {
  color: white;
}

@media (max-width: 432px) {
  header img {
    width: 355px;
  }
  header .menu {
    display: none;
  }
  .teste {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .teste #text {
    padding-top: 20px;
    width: 400px;
    margin: auto;
    text-align: center;
  }
  .teste #text h1 {
    font-size: 20px;
  }
  .teste #text p {
    line-height: 19px;
  }
  .teste img {
    width: 300px;
  }
  .container {
    background-position: top;
    background-repeat: no-repeat;
  }
  .container #texto {
    padding-top: 8rem;
    line-height: 35px;
    max-width: 390px;
    font-size: 10px;
  }
  .container-2 {
    margin: auto;
    text-align: center;
  }
  .container-2 #oque {
    padding-top: 0.5rem;
  }
  .container-2 #dois {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420.5px;
    margin: auto;
  }
  .container-2 #dois #seguro {
    padding-top: 1.5rem;
  }
  .container-3 {
    height: auto;
    width: 100%;
  }
  .container-3 #text {
    padding-top: 2rem;
  }
  .container-3 #cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-3 #cards #card #link {
    width: 353.5px;
  }
  .container-3 #cards #card img {
    width: 350px;
  }
  .container-4 {
    height: auto;
  }
  .container-4 #cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-4 #cards #card {
    padding: 0;
    margin-bottom: 2rem;
  }
  .container-4 #aviso {
    width: 400px;
    text-align: center;
    margin: auto;
    font-size: 15px;
  }
  .container-5 {
    height: auto;
  }
  .container-5 .info #infos h1 {
    text-align: center;
    font-size: 25px;
  }
  .container-5 .pay #pagamentos h1 {
    font-size: 25px;
    max-width: 355px;
    border-bottom: 1px solid indigo;
  }
  .container-5 .pay #pagamentos #imgs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .container-5 .pay #pagamentos #imgs img {
    width: 255px;
    margin: 2.2rem;
  }
  .container-6 {
    height: 100vh;
  }
  .container-6 h2 {
    max-width: 405px;
    text-align: center;
    margin: auto;
  }
  .container-6 .slider {
    padding-top: 1.5rem;
    width: 412.5px;
  }
  .container-6 #text {
    padding-top: 5.5rem;
  }
  .container-7 {
    height: auto;
  }
  .container-7 #cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container-7 #cards img {
    width: 400px;
  }
  .container-7 #link {
    width: 413px;
  }
  .container-8 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    padding: 1.5rem;
  }
  .container-8 details {
    border: 5px solid #ffffff;
    border-radius: 15px;
    max-width: 1000px;
    text-align: center;
    margin: 0.8rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(186, 0, 202);
    padding: 0.5em 0.5em 0;
    font-family: "Montserrat", "Poppins", "Oswald", Verdana, Tahoma;
  }
  .container-8 details summary {
    font-weight: bold;
    font-family: "Montserrat", "Poppins", "Oswald", Verdana, Tahoma;
    font-size: 22px;
    width: auto;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
  }
  #disqus_thread {
    width: 350px;
    margin: auto;
    text-align: center;
  }
}
@media (max-width: 414px) {
  header img {
    width: 355px;
  }
  header .menu {
    display: none;
  }
  .teste {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .teste #text {
    padding-top: 1.5rem;
  }
  .teste #text h1 {
    font-size: 20px;
  }
  .teste #text p {
    font-size: 15px;
    line-height: 26.5px;
  }
  .teste img {
    margin-top: -25px;
  }
  .container {
    background-position: top;
    background-repeat: no-repeat;
  }
  .container #texto {
    padding-top: 8rem;
    line-height: 35px;
    max-width: 390px;
    font-size: 10px;
  }
  .container-2 {
    margin: auto;
    text-align: center;
  }
  .container-2 #oque {
    padding-top: 2.5rem;
  }
  .container-2 #dois {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 399px;
  }
  .container-2 #dois #seguro {
    padding-top: 3.5rem;
  }
  .container-3 {
    height: auto;
    width: 100%;
  }
  .container-3 #cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-3 #cards #card #link {
    width: 353.5px;
  }
  .container-3 #cards #card img {
    width: 350px;
  }
  .container-4 {
    height: auto;
  }
  .container-4 #cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-4 #cards #card {
    padding: 0;
    margin-bottom: 2rem;
  }
  .container-5 {
    height: auto;
  }
  .container-5 .info #infos h1 {
    text-align: center;
    font-size: 25px;
  }
  .container-5 .pay #pagamentos h1 {
    font-size: 25px;
    max-width: 355px;
    border-bottom: 1px solid indigo;
  }
  .container-5 .pay #pagamentos #imgs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .container-5 .pay #pagamentos #imgs img {
    width: 255px;
    margin: 2.2rem;
  }
  .container-6 {
    height: 100vh;
  }
  .container-6 h2 {
    max-width: 405px;
    text-align: center;
    margin: auto;
  }
  .container-6 .slider {
    padding-top: 1.5rem;
    width: 412.5px;
  }
  .container-6 #text {
    padding-top: 5.5rem;
  }
  .container-7 {
    height: auto;
  }
  .container-7 #cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container-7 #cards img {
    width: 400px;
  }
  .container-7 #link {
    width: 413px;
  }
  .container-8 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    padding: 1.5rem;
  }
  .container-8 details {
    border: 5px solid #ffffff;
    border-radius: 15px;
    max-width: 1000px;
    text-align: center;
    margin: 0.8rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(186, 0, 202);
    padding: 0.5em 0.5em 0;
    font-family: "Montserrat", "Poppins", "Oswald", Verdana, Tahoma;
  }
  .container-8 details summary {
    font-weight: bold;
    font-family: "Montserrat", "Poppins", "Oswald", Verdana, Tahoma;
    font-size: 22px;
    width: auto;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
  }
  #disqus_thread {
    width: 350px;
    margin: auto;
    text-align: center;
  }
}
@media (max-width: 390px) {
  header .menu {
    display: none;
  }
  header img {
    width: 355px;
  }
  .teste #text {
    width: 380px;
    margin: auto;
    text-align: center;
  }
  .teste #text h1 {
    font-size: 25px;
  }
  .teste #text p {
    font-size: 13.5px;
    line-height: 22.5px;
  }
  .teste img {
    padding-top: 2rem;
    width: 405px;
  }
  .container {
    background-position: top;
    background-repeat: no-repeat;
  }
  .container #texto {
    padding-top: 8rem;
    line-height: 35px;
    max-width: 380px;
    font-size: 10px;
  }
  .container-2 {
    margin: auto;
    text-align: center;
  }
  .container-2 #oque {
    padding-top: 1.5rem;
  }
  .container-2 #dois {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 389px;
  }
  .container-2 #dois #seguro {
    padding-top: 2.5rem;
  }
  .container-3 {
    height: auto;
    width: 100%;
  }
  .container-3 #cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-3 #cards #card {
    width: 390px;
  }
  .container-3 #cards #card #link {
    width: 353.5px;
  }
  .container-3 #cards #card img {
    width: 350px;
  }
  .container-4 {
    height: auto;
  }
  .container-4 #cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-4 #cards #card {
    width: 390px;
    padding: 0;
    margin-bottom: 2rem;
    transition: 0.2s;
  }
  .container-4 #cards #card:hover {
    transform: scale(1.01);
  }
  .container-4 #aviso {
    width: 350px;
    margin: auto;
  }
  .container-5 {
    height: auto;
  }
  .container-5 .info {
    padding-top: 2rem;
  }
  .container-5 .info #infos h1 {
    text-align: center;
    font-size: 19px;
  }
  .container-5 .pay #pagamentos h1 {
    font-size: 25px;
    width: 305px;
    border-bottom: 1px solid indigo;
  }
  .container-5 .pay #pagamentos #imgs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .container-5 .pay #pagamentos #imgs img {
    width: 255px;
    margin: 2.2rem;
  }
  .container-6 {
    height: 100vh;
  }
  .container-6 h2 {
    max-width: 405px;
    text-align: center;
    margin: auto;
  }
  .container-6 .slider {
    padding-top: 1.5rem;
    width: 412.5px;
  }
  .container-6 #text {
    padding-top: 5.5rem;
  }
  .container-7 {
    height: auto;
  }
  .container-7 #cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container-7 #cards img {
    width: 400px;
  }
  .container-7 #link {
    width: 413px;
  }
  .container-8 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    padding: 1.5rem;
  }
  .container-8 details {
    border: 5px solid #ffffff;
    border-radius: 15px;
    max-width: 1000px;
    text-align: center;
    margin: 0.8rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(186, 0, 202);
    padding: 0.5em 0.5em 0;
    font-family: "Montserrat", "Poppins", "Oswald", Verdana, Tahoma;
  }
  .container-8 details summary {
    font-weight: bold;
    font-family: "Montserrat", "Poppins", "Oswald", Verdana, Tahoma;
    font-size: 22px;
    width: auto;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
  }
  #disqus_thread {
    width: 350px;
    margin: auto;
    text-align: center;
  }
}
@media (max-width: 375px) {
  header {
    width: auto;
  }
  header img {
    width: 305px;
  }
  header .menu {
    display: none;
  }
  .teste {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    justify-content: center;
  }
  .teste #text {
    text-align: center;
    padding-top: 2rem;
    width: 370px;
    margin: auto;
  }
  .teste #text p {
    line-height: 30px;
  }
  .teste img {
    width: 350px;
    padding-top: 0.5rem;
  }
  .container {
    background-position: top;
    background-repeat: no-repeat;
  }
  .container #texto {
    padding-top: 3.5rem;
    line-height: 25px;
    max-width: 370px;
    font-size: 10px;
  }
  .container-2 {
    height: auto;
    margin: auto;
    text-align: center;
  }
  .container-2 #oque {
    padding-top: 0.5rem;
  }
  .container-2 #oque img {
    width: 50px;
  }
  .container-2 #oque h1 {
    font-size: 20px;
  }
  .container-2 #oque #bar {
    width: 165px;
  }
  .container-2 #oque h3 {
    font-size: 15px;
    line-height: 15px;
  }
  .container-2 #dois {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 0;
    margin: auto;
  }
  .container-2 #dois #onde {
    width: 300px;
    font-size: 10px;
  }
  .container-2 #dois #onde img {
    width: 55px;
  }
  .container-2 #dois #seguro {
    width: 300px;
    padding-top: 1rem;
  }
  .container-2 #dois #seguro h1 {
    font-size: 15px;
  }
  .container-2 #dois #seguro h2 {
    font-size: 15px;
    margin-bottom: 1rem;
  }
  .container-3 {
    height: auto;
    width: 100%;
  }
  .container-3 #text {
    padding-top: 2rem;
  }
  .container-3 #cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  .container-3 #cards #card {
    margin: auto;
    text-align: center;
    width: 300px;
  }
  .container-3 #cards #card #link {
    width: 300px;
  }
  .container-3 #cards #card img {
    width: 300px;
  }
  .container-4 {
    height: auto;
  }
  .container-4 #cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-4 #cards #card {
    padding: 0;
    margin-bottom: 2rem;
    width: 300px;
  }
  .container-4 #cards #card img {
    width: 300px;
  }
  .container-4 #cards #card a {
    width: 299.5px;
  }
  .container-4 #aviso {
    width: 300px;
    text-align: center;
    margin: auto;
    font-size: 15px;
  }
  .container-5 {
    height: auto;
  }
  .container-5 .info #infos h1 {
    text-align: center;
    font-size: 15px;
  }
  .container-5 .info #text {
    font-size: 15px;
  }
  .container-5 .pay #pagamentos h1 {
    font-size: 25px;
    max-width: 355px;
    border-bottom: 1px solid indigo;
  }
  .container-5 .pay #pagamentos #imgs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 1rem;
  }
  .container-5 .pay #pagamentos #imgs img {
    width: 155px;
    margin: 1.2rem;
  }
  .container-6 {
    height: auto;
  }
  .container-6 h2 {
    max-width: 300px;
    text-align: center;
    margin: auto;
  }
  .container-6 .slider {
    padding-top: 1.5rem;
    width: 299.5px;
  }
  .container-6 #text {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    width: 350px;
    margin: auto;
  }
  .container-7 {
    height: auto;
  }
  .container-7 #cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container-7 #cards img {
    width: 300px;
  }
  .container-7 #link {
    width: 300px;
    margin: auto;
  }
  .container-8 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    padding: 1.5rem;
  }
  .container-8 details {
    border: 5px solid #ffffff;
    border-radius: 15px;
    max-width: 1000px;
    text-align: center;
    margin: 0.8rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(186, 0, 202);
    padding: 0.5em 0.5em 0;
    font-family: "Montserrat", "Poppins", "Oswald", Verdana, Tahoma;
  }
  .container-8 details summary {
    font-weight: bold;
    font-family: "Montserrat", "Poppins", "Oswald", Verdana, Tahoma;
    font-size: 22px;
    width: auto;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
  }
  #disqus_thread {
    width: 350px;
    margin: auto;
    text-align: center;
  }
}
@media (max-width: 360px) {
  .teste {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .teste #text {
    width: 335px;
    margin: auto;
    text-align: center;
  }
  .teste #text h1 {
    font-size: 22px;
  }
  .teste #text p {
    line-height: 20px;
    font-size: 13.2px;
  }
  .teste img {
    padding-top: 1.5rem;
  }
}
@media (max-width: 320px) {
  .teste {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .teste #text {
    width: 300px;
    margin: auto;
    text-align: center;
    padding-top: 10px;
  }
  .teste #text h1 {
    font-size: 18px;
  }
  .teste #text p {
    font-size: 11.5px;
    line-height: 18.5px;
  }
  .teste img {
    width: 255px;
    margin-top: -30px;
  }
}/*# sourceMappingURL=home.css.map */